body {
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.show-container {
  /* margin: 50px 400px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-container-content {
  width: 1200px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.show-info-img-container img{
  width: 600px;
}
.show-info-container {
  display: flex;
}
.content-container {
  padding: 0 20px;
}
.show-info-episodes-list {
  padding: 0;
  list-style: none;
}
.show-info-episodes-list li {
  padding: 20px 0;
}
.show-info-episodes-list li a{
  color: #333;
  text-decoration: none;
}
.show-episode-img-container{
  position: relative;
}
.route-back-btn {
  text-align:center;
  position: absolute;
  padding-top: 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.show-episode-img-container img{
  width: 100%;
}
@media only screen and (max-width: 1250px) {
  .show-info-img-container img{
    width: 400px;
  }
}
@media only screen and (max-width: 900px) {
  .show-info-img-container img{
    width: 100%;
  }
  
  .show-info-container{
    display: flex;
    flex-direction: column;
  }
  .show-container-content {
    margin: 0;
  }
}